<form class="" action="/signup" method="post">

  username
  <input type="text" name="username" value="">

  email
  <input type="text" name="email" value="">

  password
  <input type="text" name="password" value="">

  <input type="submit" value="Submit">


</form>
