<form class="" action="/capsule" method="post">
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <input type="text" name="name" placeholder="Capsule Name">
  <input type="submit" value="Create Capsule">
</form>
