  <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" >Back</a>

<h1>Login</h1>

<form class="" action="/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit"  value="Log In">
</form>
